/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
.container{
    width: 70%;
    margin: auto;
}

/*BODY*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
    display: block;
}

.row{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.card{
    width: 33%;
    display: inline-block;
    padding: 7px;
}

/* image */
.img-container{
    position: relative;
    cursor: pointer;
}

.img-container:hover .image-n2{
    display: none;
}

.image-n2{
    position: absolute;
    top: 0;
}

/*Heart*/
.heart{
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 25px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
}

.heart:hover{
    color: red;
    cursor: pointer;
}

/*Tag*/
.discount{
    background-color: #eb0037;
    padding: 5px;
}

.eco-green{
    background-color: #00875a;
    padding: 5px;
}

.info{
    color: white;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.text-container{
    text-align: left;
    padding-top: 10px;
}

/* Brand */
div.text-container h4{
    font-weight: normal;
}

/* Item Title */
div.text-container h3{
    font-size: 18px;
    font-weight: 600;
}

.price{
    color: #eb0037;
    font-size: 15px;
    font-weight: bold;
}

.price-discaunt{
    text-decoration: line-through;
    font-size: 15px;
}